* {
  /* outline: 1px red solid; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.login {
  box-shadow: 10px 8px 50px -4px rgba(0, 0, 0, 0.25);
  background: url(../gambar/about-us/Rectangle\ 49.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 437px;
  height: 505px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-sizing: border-box;
}


.centerr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.borderr {
  padding: 70px 50px !important;
  border-radius: 0 10px 10px 0;
  width: 437px !important;
  height: 505px;
  background-color: #0C5B21; 
  box-shadow: 5px 8px 50px -4px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width:1200px) {
  .login {
    display: none;
  }
  .borderr {
    border-radius: 10px;
    margin: auto;
  }
}

@media screen and (max-width : 576px) {
  *,body {
    background-color: #0C5B21;
  }
  .borderr {
    box-shadow: none;
  }
}